*{
	text-decoration: none;
	font-family: poppins;
	box-sizing: border-box;
}
body{
	margin: 0;
	padding: 0;
	}
	.block{
		border-radius: 5px;
		padding: -9px;
	margin: 10px;
	background-color: lightgrey;
	}

.block h4{
	padding: 50px;
	margin: 10px;
	background-color: lightgrey;
	align-content: right;
	
}
.block h2{
	text-align: right;

}
.header{
	color: green;
}
.dayname{
	text-align: right;
	color: lightgreen;
}
.time{
	text-align: right;
	color: lightgreen;
}

span{
	align-text: right;
	font-size: 30px;
}